@page "/Cards/Customize/{ChipId}"

@inject HttpClient Http
@inject ILogger<CustomizeCard> Logger
@inject ISnackbar Snackbar
@inject IDataService DataService
@inject INameService NameService
@inject IDialogService DialogService

@using WebUI.Client.Extensions;
@using WebUI.Shared.Dto.Common;
@using WebUI.Client.Services;
@using WebUI.Shared.Dto.Enum;

<MudBreadcrumbs Items="breadcrumbs" Class="px-0"></MudBreadcrumbs>

<PageTitle>Customize</PageTitle>
<MudStack Row Class="flex-column">
    <h1>@localizer["customizationheader"]</h1>

    <MudStack Row Class="align-self-end">
        <MudProgressCircular @bind-Class="@HideSaveAllProgress" Color="Color.Default" Indeterminate="true" />
        <MudButton Disabled="@SaveAllButtonDisabled" OnClick="@SaveAll" Variant="Variant.Filled" Color="@Color.Primary">@localizer["saveall"]</MudButton>
    </MudStack>
</MudStack>

@if (errorMessage is not null)
{
    <MudText Color="Color.Error" Typo="Typo.h3">@errorMessage</MudText>
    return;
}

@if (_basicProfile is null)
{
    <MudStack>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
        <MudSkeleton Width="100%"/>
    </MudStack>
    return;
}

<MudStack Class="mt-2">
<MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
<MudTabPanel Text="@localizer["generalcardinfo"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["generalcardinfo"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideProfileProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveBasicProfile"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudItem xs="8">
                            <MudForm @ref="_playerNameForm">
                                <MudTextField @bind-Value="_basicProfile.UserName"
                                        Immediate="true"
                                        Variant="Variant.Outlined"
                                        Counter="PLAYER_NAME_MAX_LENGTH"
                                        MaxLength="PLAYER_NAME_MAX_LENGTH"
                                        Label="@localizer["playername"]"
                                        Validation="ValidatePlayerName" />
                            </MudForm>
                        </MudItem>
                        <MudItem xs="8">
                            <MudSelect @bind-Value="_basicProfile.DefaultBgmPlayingMethod" Margin="Margin.Normal" T="BgmPlayingMethod"
                                               Label="@localizer["bgmplaytype"]" Variant="Variant.Outlined" ToStringFunc="@converter">
                                @foreach (var item in Enum.GetValues<BgmPlayingMethod>())
                                {
                                    <MudSelectItem Value="@(item)" />
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="10">
                            <MudGrid Class="align-center">
                                <MudItem xs="10">
                                    <MudExpansionPanels>
                                                <MudExpansionPanel Text="@localizer["bgmlistorder"]">
                                            <MudSimpleTable Style="overflow-x: auto;">
                                                <tbody>
                                                @if(_basicProfile.DefaultBgmList != null && _basicProfile.DefaultBgmList.Count() > 0)
                                                {
                                                    foreach (var x in _basicProfile.DefaultBgmList)
                                                    {
                                                        <tr>
                                                            <td>@DataService.GetBgmById(x)?.ValueJP</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    _basicProfile.DefaultBgmList = Array.Empty<uint>();
                                                    <tr>
                                                        <td>No Entries</td>
                                                    </tr>
                                                }
                                                </tbody>
                                            </MudSimpleTable>
                                        </MudExpansionPanel>
                                    </MudExpansionPanels>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                   OnClick="() => OpenProfileChangeBgmOrderDialog()" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="10">
                            <MudGrid Class="align-center">
                                <MudItem xs="10">
                                            <MudField Label="@localizer["gauge"]" Variant="Variant.Outlined">
                                        <MudText Align="Align.Center">@NameService.GetGaugeName(_basicProfile.DefaultGaugeDesignId)</MudText>
                                    </MudField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                   OnClick="() => OpenProfileChangeGaugeDialog()" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudGrid>
                                <MudItem xs="6">
                                    <MudSelect Label="@localizer["playerrecorddisplay"]" @bind-Value="_basicProfile.OpenRecord" T="uint" SelectedValuesChanged="(selectedIds) => OnOpenRecordChanged(selectedIds, _basicProfile)" Variant="Variant.Outlined">
                                        @foreach (var openRecord in DataService.GetDisplayOptionsSortedById())
                                        {
                                            <MudSelectItem Value="openRecord.Id">@openRecord.Value</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudItem>
                                <MudItem xs="6">
                                    <MudSelect Label="@localizer["echelondisplay"]" @bind-Value="_basicProfile.OpenEchelon" T="uint" SelectedValuesChanged="(selectedIds) => OnOpenEchelonChanged(selectedIds, _basicProfile)" Variant="Variant.Outlined">
                                        @foreach (var openEchelon in DataService.GetEchelonDisplayOptionsSortedById())
                                        {
                                            <MudSelectItem Value="openEchelon.Id">@openEchelon.Value</MudSelectItem>
                                        }</MudSelect>
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudExpansionPanels>
                            <MudExpansionPanel Text="@localizer["titles"]">
                                <MudStack>
                                    <MudStack Row>
                                        <MudText>@localizer["titles_hint"]</MudText>
                                        <MudLink Href="https://w.atwiki.jp/exvs2xb/pages/379.html" Target="_blank">@localizer["titles_hinttext"]</MudLink>
                                        <MudLink Href="https://w.atwiki.jp/exvs2xb/pages/444.html" Target="_blank">@localizer["titles_hintbackground"]</MudLink>
                                        <MudLink Href="https://w.atwiki.jp/exvs2xb/pages/445.html" Target="_blank">@localizer["titles_hintornament"]</MudLink>
                                        <MudLink Href="https://w.atwiki.jp/exvs2xb/pages/505.html" Target="_blank">@localizer["titles_hinteffect"]</MudLink>
                                    </MudStack>
                                    <MudDivider />
                                    <MudStack>
                                        <MudField Label="@localizer["defaulttitles"]" Variant="Variant.Outlined">
                                            <MudGrid>
                                                <MudItem xs="3">
                                                            <MudNumericField T="uint" @bind-Value="_basicProfile.DefaultTitle.TextId" Label="@localizer["titles_textid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.DefaultTitle.BackgroundPartsId" Label="@localizer["titles_backgroundid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.DefaultTitle.OrnamentId" Label="@localizer["titles_ornamentid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.DefaultTitle.EffectId" Label="@localizer["titles_effectid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudField>
                                    </MudStack>
                                    <MudStack>
                                        <MudField Label="@localizer["rankingtitles"]" Variant="Variant.Outlined">
                                            <MudGrid>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.RankingTitle.TextId" Label="@localizer["titles_textid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.RankingTitle.BackgroundPartsId" Label="@localizer["titles_backgroundid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.RankingTitle.OrnamentId" Label="@localizer["titles_ornamentid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.RankingTitle.EffectId" Label="@localizer["titles_effectid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudField>
                                    </MudStack>
                                    <MudStack>
                                        <MudField Label="@localizer["triadtitles"]" Variant="Variant.Outlined">
                                            <MudGrid>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.TriadTitle.TextId" Label="@localizer["titles_textid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                            <MudNumericField T="uint" @bind-Value="_basicProfile.TriadTitle.BackgroundPartsId" Label="@localizer["titles_backgroundid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                    <MudNumericField T="uint" @bind-Value="_basicProfile.TriadTitle.OrnamentId" Label="@localizer["titles_ornamentid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                                <MudItem xs="3">
                                                            <MudNumericField T="uint" @bind-Value="_basicProfile.TriadTitle.EffectId" Label="@localizer["titles_effectid"]" Variant="Variant.Outlined" Min="0" Max="10000" HelperText="0-10000" />
                                                </MudItem>
                                            </MudGrid>
                                        </MudField>
                                    </MudStack>
                                </MudStack>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["navisetting"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["navisetting"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideNaviProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveNavigatorProfile"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudItem xs="10">
                            <MudGrid Class="align-center">
                                <MudItem xs="10">
                                    <MudField Label="@localizer["navisetting_uinavigator"]" Variant="Variant.Outlined">
                                        <MudText Align="Align.Center">@NameService.GetNavigatorName(_naviProfile.DefaultUiNaviId)</MudText>
                                    </MudField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                   OnClick="() => OpenNaviChangeUiDialog()" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="10">
                            <MudGrid Class="align-center">
                                <MudItem xs="10">
                                    <MudField Label="@localizer["navisetting_battlenavigator"]" Variant="Variant.Outlined">
                                                <MudText Align="Align.Center">@NameService.GetNavigatorName(_naviProfile.DefaultBattleNaviId)</MudText>
                                    </MudField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                   OnClick="() => OpenNaviChangeBattleDialog()" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["navisetting_navicostume"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideNaviCostumeProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveNaviCostume"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudDataGrid Elevation="5"
                                     Items="@_naviObservableCollection"
                                     ReadOnly="false"
                                     EditMode="@(DataGridEditMode.Cell)"
                                     EditTrigger="@(DataGridEditTrigger.OnRowClick)"
                                     SortMode="@SortMode.None"
                                     Filterable="true" 
                                     QuickFilter="@_naviQuickFilter"
                                     ColumnResizeMode="ResizeMode.None"
                                     Groupable="false">
                            <ToolBarContent>
                                <MudTextField @bind-Value="_naviCostumeSearchString" Placeholder="@localizer["search"]" Adornment="Adornment.Start" Immediate="false"
                                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-4" Variant="Variant.Outlined">
                                </MudTextField>
                                <MudTooltip Text="@localizer["navisetting_navicostumehint"]">
                                    <MudIconButton Class="mx-2" Icon="@Icons.Material.Outlined.Info" />
                                </MudTooltip>
                            </ToolBarContent>
                            <Columns>
                                <PropertyColumn Property="x => x.Navigator.Id" IsEditable="true" Title="@localizer["navisetting_navi"]">
                                    <EditTemplate>
                                        <MudText>@NameService.GetNavigatorName(context.Item.Navigator.Id)</MudText>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.Navi" Title="@localizer["navisetting_costume"]">
                                    <EditTemplate>
                                        <MudStack Row>
                                            @if(context.Item.Navi != null)
                                            {
                                                <MudSelect @bind-Value="context.Item.Navi.CostumeId" T="uint" SelectedValuesChanged="(selectedIds) => OnNaviCostumeSelectChanged(selectedIds, context.Item)" Variant="Variant.Outlined">
                                                    @foreach (var costume in context.Item.Navigator.Costumes)
                                                    {
                                                        <MudSelectItem Value="costume.Id">@costume.Value</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudSelect T="uint" SelectedValuesChanged="(selectedIds) => OnNaviCostumeSelectChanged(selectedIds, context.Item)" Variant="Variant.Outlined">
                                                    @foreach(var costume in context.Item.Navigator.Costumes)
                                                    {
                                                        <MudSelectItem Value="costume.Id">@costume.Value</MudSelectItem>
                                                    }
                                                </MudSelect>                                        
                                            }
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                            </Columns>
                            <PagerContent>
                                <MudDataGridPager PageSizeOptions="@_pageSizeOptions" />
                            </PagerContent>
                        </MudDataGrid>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["favmssetting"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["favmssetting"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideFavMsProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveFavouriteMobileSuits"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack Row>
                                <MudButton OnClick="@AddFavouriteMobileSuitItem" Variant="Variant.Filled" Color="@Color.Primary" Class="mb-4 add-item-btn">@localizer["additem"]</MudButton>
                    </MudStack>
                    <MudStack>
                        <MudDataGrid 
                            Elevation="5"
                            Items="@_favouriteMs"
                            Filterable="false"
                            ReadOnly="true"
                            EditMode="@(DataGridEditMode.Cell)"
                            EditTrigger="@(DataGridEditTrigger.OnRowClick)"
                            SortMode="@SortMode.None"
                            Groupable="false">
                            <Columns>
                                <PropertyColumn Property="x => x.MsId" IsEditable="true" Title="@localizer["favmsdialog_mstitle"]">
                                    <CellTemplate>
                                        <MudText>@NameService.GetMobileSuitName(context.Item.MsId)</MudText>
                                    </CellTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.BurstType" Title="@localizer["favmsdialog_bursttype"]" />
                                <PropertyColumn Property="x => x.BattleNaviId" Title="@localizer["favmsdialog_inbattlenavi"]">
                                    <CellTemplate>
                                                <MudText>@NameService.GetNavigatorName(context.Item.BattleNaviId)</MudText>
                                    </CellTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x">
                                    <CellTemplate>
                                        <MudStack Row>
                                            <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                           OnClick="() => OpenCustomizeFavouriteMsDialog(context.Item)" />
                                            <MudIconButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Error"
                                                           Icon="@Icons.Material.Filled.Delete" OnClick="() => RemoveFavouriteUnit(context)"></MudIconButton>
                                        </MudStack>
                                    </CellTemplate>
                                </PropertyColumn>
                            </Columns>
                        </MudDataGrid>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["mscostumesetting"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["mscostumesetting"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideMsCostumeProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveMobileSuitsCostume"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudDataGrid Elevation="5"
                                     Items="@_mobileSuitsSkillGroups"
                                     ReadOnly="false"
                                     EditMode="@(DataGridEditMode.Cell)"
                                     EditTrigger="@(DataGridEditTrigger.OnRowClick)"
                                     SortMode="@SortMode.None"
                                     Filterable="true" 
                                     QuickFilter="@_quickFilter"
                                     ColumnResizeMode="ResizeMode.None"
                                     Groupable="false">
                            <ToolBarContent>
                                <MudTextField @bind-Value="_msCostumeSearchString" Placeholder="@localizer["search"]" Adornment="Adornment.Start" Immediate="false"
                                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-4" Variant="Variant.Outlined">
                                </MudTextField>
                                <MudTooltip Text="@localizer["mscostumehint"]">
                                    <MudIconButton Class="mx-2" Icon="@Icons.Material.Outlined.Info" />
                                </MudTooltip>
                            </ToolBarContent>
                            <Columns>
                                <PropertyColumn Property="x => x.MobileSuit.Id" IsEditable="true" Title="@localizer["mscostumemsheader"]">
                                    <EditTemplate>
                                        <MudText>@NameService.GetMobileSuitName(context.Item.MobileSuit.Id)</MudText>
                                    </EditTemplate>
                                </PropertyColumn>
                                <PropertyColumn Property="x => x.SkillGroup" Title="@localizer["mscostumecostumeheader"]">
                                    <EditTemplate>
                                        <MudStack Row>
                                            @if(context.Item.SkillGroup != null)
                                            {
                                                <MudSelect @bind-Value="context.Item.SkillGroup.CostumeId" T="uint" SelectedValuesChanged="(selectedIds) => OnCostumeSelectChanged(selectedIds, context.Item)" Variant="Variant.Outlined">
                                                    @foreach (var costume in context.Item.MobileSuit.Costumes)
                                                    {
                                                        <MudSelectItem Value="costume.Id">@costume.Value</MudSelectItem>
                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudSelect T="uint" SelectedValuesChanged="(selectedIds) => OnCostumeSelectChanged(selectedIds, context.Item)" Variant="Variant.Outlined">
                                                    @foreach(var costume in context.Item.MobileSuit.Costumes)
                                                    {
                                                        <MudSelectItem Value="costume.Id">@costume.Value</MudSelectItem>
                                                    }
                                                </MudSelect>                                        
                                            }
                                        </MudStack>
                                    </EditTemplate>
                                </PropertyColumn>
                            </Columns>
                            <PagerContent>
                                <MudDataGridPager PageSizeOptions="@_pageSizeOptions" />
                            </PagerContent>
                        </MudDataGrid>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["cputriadpartner"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["cputriadpartner"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideTriadCpuPartnerProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveTriadCpuPartner"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudItem xs="10">
                            <MudGrid Class="align-center">
                                <MudItem xs="10">
                                            <MudField Label="@localizer["triad_cpums"]" Variant="Variant.Outlined">
                                        <MudText Align="Align.Center">@NameService.GetMobileSuitName(cpuTriadPartner.MobileSuitId)</MudText>
                                    </MudField>
                                </MudItem>
                                <MudItem xs="2">
                                    <MudIconButton Variant="Variant.Filled" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                                   OnClick="() => OpenCpuTriadMobileSuitUiDialog()" />
                                </MudItem>
                            </MudGrid>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.ArmorLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_armor"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.ShootAttackLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_shooting"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.InfightAttackLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_infight"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.BoosterLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_boost"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.ExGaugeLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_exgauge"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSlider @bind-Value="cpuTriadPartner.AiLevel" ValueLabel="true" Variant="Variant.Filled" Min="0" Max="100">@localizer["triad_ai"]</MudSlider>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSelect @bind-Value="SelectedTriadSkill1" T="IdValuePair"
                                       Label="@localizer["triad_cpuskill1"]" Variant="Variant.Outlined">
                                @foreach (var item in DataService.GetSortedTriadSkillList())
                                {
                                    <MudSelectItem Value="item">@NameService.GetLocalizedName(item)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSelect @bind-Value="SelectedTriadSkill2" T="IdValuePair"
                                       Label="@localizer["triad_cpuskill2"]" Variant="Variant.Outlined">
                                @foreach (var item in DataService.GetSortedTriadSkillList())
                                {
                                    <MudSelectItem Value="item">@NameService.GetLocalizedName(item)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSelect Label="@localizer["triad_bursttype"]" @bind-Value="cpuTriadPartner.BurstType" T="BurstType" Variant="Variant.Outlined">
                                @foreach (var item in Enum.GetValues<BurstType>())
                                {
                                    <MudSelectItem Value="item">@item.ToString()</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="12">
                            <MudForm @ref="_teamNameForm">
                                <MudTextField @bind-Value="cpuTriadPartner.TriadTeamName"
                                    Immediate="true"
                                    Variant="Variant.Outlined"
                                    Counter="PLAYER_NAME_MAX_LENGTH"
                                    MaxLength="PLAYER_NAME_MAX_LENGTH"
                                    Label="@localizer["triad_teamname"]"
                                    Validation="ValidateTeamName" />
                            </MudForm>
                        </MudItem>
                        <MudItem xs="12">
                            <MudSelect @bind-Value="SelectedTriadTeamBanner" T="IdValuePair"
                                       Label="@localizer["triad_teambanner"]" Variant="Variant.Outlined">
                                @foreach (var item in DataService.GetSortedTriadTeamBannerList())
                                {
                                    <MudSelectItem Value="item">@item.Value</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["customizecomment"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["customizecomment"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideCustomizeCommentProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveCustomizeComment"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudItem xs="12">
                            @localizer["comment_hint"] <MudLink Href="https://w.atwiki.jp/exvs2xb/pages/464.html" Target="_blank">@localizer["comment_wiki"]</MudLink>
                        </MudItem>
                            <MudItem xs="12">@localizer["comment_sentence_example"] そんな[]、修正してやる！</MudItem>
                            <MudItem xs="12">@localizer["comment_parts_example"] [Sフリーダム], [キラ], [天然]</MudItem>
                    </MudStack>
                    <MudGrid>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="CustomizeComment.BasePhraseId" Label="@localizer["comment_sentenceid"]" Variant="Variant.Text" Min="0" Max="10000" HelperText="0-10000" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="CustomizeComment.SubstitutePart1Id" Label="@localizer["comment_part1id"]" Variant="Variant.Text" Min="0" Max="10000" HelperText="0-10000" />
                        </MudItem>
                        <MudItem xs="4">
                            <MudNumericField @bind-Value="CustomizeComment.SubstitutePart2Id" Label="@localizer["comment_part2id"]" Variant="Variant.Text" Min="0" Max="10000" HelperText="0-10000"/>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["communicationmessage"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@localizer["communicationmessage"]</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudStack Row>
                                <MudProgressCircular @bind-Class="@HideCommunicationMessageProgress" Color="Color.Default" Indeterminate="true" />
                                <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveCommunicationMessageConfig"
                                               Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                            </MudStack>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudStack>
                            <MudItem xs="12">
                                <MudGrid Class="align-center">
                                    <MudItem xs="12">
                                        <MudExpansionPanels>
                                            <MudForm @ref="_messageForm">
                                                <MudExpansionPanel Text="@localizer["communicationmessage_prebattle"]">
                                                    <MudGrid>
                                                        <MudItem xs="12">
                                                            @localizer["communicationmessage_hint"]
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.StartGroup.UpMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageup"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeBeforeBattleUpTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.StartGroup.UpMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidup"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.StartGroup.DownMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessagedown"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeBeforeBattleDownTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.StartGroup.DownMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampiddown"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.StartGroup.LeftMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageleft"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeBeforeBattleLeftTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.StartGroup.LeftMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidleft"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.StartGroup.RightMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageright"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeBeforeBattleRightTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.StartGroup.RightMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidright"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudExpansionPanel>
                                                <MudExpansionPanel Text="@localizer["communicationmessage_inbattle"]">
                                                    <MudGrid>
                                                        <MudItem xs="12">
                                                            @localizer["communicationmessage_hint"]
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.InBattleGroup.UpMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageup"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeInBattleUpTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.InBattleGroup.UpMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidup"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.InBattleGroup.DownMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessagedown"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeInBattleDownTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.InBattleGroup.DownMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampiddown"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.InBattleGroup.LeftMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageleft"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeInBattleLeftTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.InBattleGroup.LeftMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidleft"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.InBattleGroup.RightMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageright"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeInBattleRightTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.InBattleGroup.RightMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidright"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudExpansionPanel>
                                                <MudExpansionPanel Text="@localizer["communicationmessage_postbattle"]">
                                                    <MudGrid>
                                                        <MudItem xs="12">
                                                            @localizer["communicationmessage_hint"]
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.ResultGroup.UpMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageup"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeAfterBattleUpTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.ResultGroup.UpMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidup"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.ResultGroup.DownMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessagedown"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeAfterBattleDownTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.ResultGroup.DownMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampiddown"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.ResultGroup.LeftMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageleft"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeAfterBattleLeftTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.ResultGroup.LeftMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidleft"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                    <MudGrid>
                                                        <MudItem xs="8">
                                                            <MudTextField @bind-Value="_customMessageGroupSetting.ResultGroup.RightMessage.MessageText"
                                                                            Immediate="true"
                                                                            Variant="Variant.Outlined"
                                                                            Counter="MESSAGE_MAX_LENGTH"
                                                                            MaxLength="MESSAGE_MAX_LENGTH"
                                                                            Label="@localizer["communicationmessage_verbalmessageright"]"
                                                                            Validation="ValidateCustomizeMessage"
                                                                            Disabled="@(!CanCustomizeAfterBattleRightTextMessage)" />
                                                        </MudItem>
                                                        <MudItem xs="4">
                                                            <MudNumericField T="uint" @bind-Value="_customMessageGroupSetting.ResultGroup.RightMessage.UniqueMessageId" Label="@localizer["communicationmessage_stampidright"]" Variant="Variant.Text" Min="0" Max="1000" HelperText="0-1000" />
                                                        </MudItem>
                                                    </MudGrid>
                                                </MudExpansionPanel>
                                            </MudForm>
                                        </MudExpansionPanels>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudStack>
                    </MudCardContent>
                </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
<MudTabPanel Text="@localizer["gamepadconfig"]">
    <MudGrid xs="12">
        <MudItem xs="12">
            <MudCard Class="my-2" Elevation="5">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@localizer["gamepadconfig"]</MudText>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudStack Row>
                            <MudProgressCircular @bind-Class="@HideGamepadConfigProgress" Color="Color.Default" Indeterminate="true" />
                            <MudIconButton Icon="@Icons.Material.Filled.Save" Variant="Variant.Filled" OnClick="@SaveGamepadConfig"
                                           Color="Color.Primary" Size="Size.Large" aria-label="save"></MudIconButton>
                        </MudStack>
                    </CardHeaderActions>
                </MudCardHeader>
                <MudCardContent>
                    <MudStack>
                        <MudItem xs="12">@localizer["gamepadhint1"]</MudItem>
                        <MudItem xs="12">@localizer["gamepadhint2"]</MudItem>
                        <MudItem xs="12"></MudItem>
                    </MudStack>
                    <MudGrid>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadsquare"]" @bind-Value="_gamepadConfig.XKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadtriangle"]" @bind-Value="_gamepadConfig.YKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadcross"]" @bind-Value="_gamepadConfig.AKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadcircle"]" @bind-Value="_gamepadConfig.BKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadl1"]" @bind-Value="_gamepadConfig.LbKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadr1"]" @bind-Value="_gamepadConfig.RbKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadl2"]" @bind-Value="_gamepadConfig.LtKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadr2"]" @bind-Value="_gamepadConfig.RtKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadl3"]" @bind-Value="_gamepadConfig.LsbKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Label="@localizer["gamepadr3"]" @bind-Value="_gamepadConfig.RsbKey" T="uint" Variant="Variant.Outlined">
                                @foreach (var button in DataService.GetSortedGamepadOptionList())
                                {
                                    <MudSelectItem Value="button.Id">@button.Value (@button.ValueJP)</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudTabPanel>
</MudTabs>
</MudStack>