@inject IDataService DataService
@inject ILogger<ChangeMobileSuitDialog> Logger
@using WebUI.Client.Services
@using WebUI.Shared.Dto.Common;

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
    
    .ms-mastery-rating-lv0 {
        background-color: #08f;
    
        .mud-icon-root.mud-svg-icon {
            fill: #ddd;
        }
    }
    
    .ms-mastery-rating-lv1 {
        background-color: #d63;
    
        .mud-icon-root.mud-svg-icon {
            fill: #fe0;
        }
    }
        
    .ms-mastery-rating-lv2 {
        background-color: #bbc;
    
        .mud-icon-root.mud-svg-icon {
            fill: #fe0;
        }
    }
    
    .ms-mastery-rating-lv3 {
        background-color: #cb0;
    
        .mud-icon-root.mud-svg-icon {
            fill: #fe0;
        }
    }
</style>

<MudDialog>
    <DialogContent>
        <MudTable Elevation="5" Items="@mobileSuits" Filter="@Filter" @ref="mudTable" @bind-SelectedItem="@selectedMobileSuit"
                  RowClassFunc="@SelectedRowClassFunc" T="MobileSuit" Hover="true" FixedHeader="true">
            <ColGroup>
                <col style="width: 50px;" />
                <col />
            </ColGroup>
            <ToolBarContent>
                <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="false"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                </MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.Id))">
                        Id
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.Value))">
                        Name (English)
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.ValueJP))">
                        Name (Japanese)
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.ValueCN))">
                        Name (Chinese)
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.Series))">
                        Series
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.Cost))">
                        Cost
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.MasteryPoint))">
                        Mastery
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="@(new Func<MobileSuit, object>(x => x.MasteryPoint))">
                        EXP
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                @{
#pragma warning disable CS8602
                }
                <MudTd DataLabel="Id" Class="cursor-pointer">@context.Id</MudTd>
                <MudTd DataLabel="NameEN" Class="cursor-pointer">@context.Value</MudTd>
                <MudTd DataLabel="NameJP" Class="cursor-pointer">@context.ValueJP</MudTd>
                <MudTd DataLabel="NameCN" Class="cursor-pointer">@context.ValueCN</MudTd>
                <MudTd DataLabel="Series" Class="cursor-pointer">@context.Series</MudTd>
                @{
                    var cost = "N/A";
                    if (context.Id > 0)
                    {
                        cost = context.Cost.ToString();
                    }
                }
                <MudTd DataLabel="Cost" Class="cursor-pointer">@cost</MudTd>
                 @{
                    if (context.Id == 0)
                    {
                        <MudTd DataLabel="Mastery" Class="cursor-pointer">N/A</MudTd>
                    }
                    else
                    {
                        var familiarity = context.MasteryDomain;

                        if (familiarity.UseDescription)
                        {
                            <MudTd DataLabel="Mastery" Class="cursor-pointer">
                                <div style="font-style: italic; font-weight: bold; color: #fe0;">
                                    @familiarity.Description
                                </div>
                            </MudTd>
                        }
                        else
                        {
                            int level = (int)familiarity.Level;
                            string styleClass = "ms-mastery-rating-lv" + familiarity.ColorCode;

                            <MudTd DataLabel="Mastery" Class="cursor-pointer">
                                <MudRating SelectedValue="@level" MaxValue="5" ReadOnly="true"
                                           RatingItemsClass="@styleClass"
                                           FullIcon="@Icons.Material.Filled.Star"
                                           EmptyIcon="@Icons.Material.Filled.StarBorder"
                                           />
                            </MudTd>
                        }
                    }
                 }
                @{
                    var masteryPoint = "N/A";
                    if (@context.Id > 0)
                    {
                        masteryPoint = context.MasteryPoint.ToString();
                    }
                }
                <MudTd DataLabel="EXP" Class="cursor-pointer">@masteryPoint</MudTd>
                @{
#pragma warning restore CS8602
                }
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@pageSizeOptions" />
            </PagerContent>
        </MudTable>
        <MudText Class="mt-4 d-block" Typo="Typo.caption">
            <b>Selected Mobile Suit:</b> @selectedMobileSuit?.Value | @selectedMobileSuit?.ValueJP | @selectedMobileSuit?.ValueCN
        </MudText>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public uint Data { get; set; }

    private MobileSuit? selectedMobileSuit;

    private int selectedPage;

    private IReadOnlyList<MobileSuit> mobileSuits = new List<MobileSuit>();

    private string searchString = string.Empty;

    private int[] pageSizeOptions = { 5, 10, 25, 50, 100 };

    private MudTable<MobileSuit> mudTable = null!;

    // ReSharper disable once NotAccessedField.Local
    private int selectedRowNumber = -1;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        mobileSuits = DataService.GetMobileSuitSortedById();
        selectedMobileSuit = DataService.GetMobileSuitById(Data);
        var firstPageOption = pageSizeOptions.ToList().FirstOrDefault();
        selectedPage = CalculateCurrentPage(mobileSuits, selectedMobileSuit, firstPageOption);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (selectedMobileSuit != null)
        {
            mudTable.SelectedItem = selectedMobileSuit;
            if (firstRender)
            {
                mudTable.CurrentPage = selectedPage;
            }
        }
    }

    private int CalculateCurrentPage<T>(IEnumerable<T> items, T selectedItem, int rowsPerPage)
    {
        // Convert the IEnumerable to a list for better performance (if it's not already a list).
        List<T> itemList = items.ToList();

        // Find the index of the selected item in the list.
        int selectedIndex = itemList.IndexOf(selectedItem);

        if (selectedIndex < 0)
        {
            // The selected item is not found in the list.
            Logger.LogError("Selected item is not part of the provided items list");
            selectedIndex = 0;
        }

        // Calculate the current page using integer division.
        int currentPage = selectedIndex / rowsPerPage;

        return currentPage;
    }

    private bool Filter(MobileSuit? mobileSuit)
    {
        if (mobileSuit is null)
        {
            return false;
        }
        var aggregate = $"{mobileSuit.Value}{mobileSuit.ValueJP}{mobileSuit.ValueCN}{mobileSuit.Series}";
        return string.IsNullOrEmpty(searchString) ||
               aggregate.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

    private void Submit()
    {
        if (selectedMobileSuit is not null)
        {
            Data = selectedMobileSuit.Id;
        }
        MudDialog.Close(DialogResult.Ok(Data));
    }

    private void Cancel() => MudDialog.Cancel();

    private string SelectedRowClassFunc(MobileSuit element, int rowNumber)
    {
        if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(element))
        {
            selectedRowNumber = rowNumber;
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }
}